.header{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 1px #fdfcfc;
}
.menu{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: nonde;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.logo{
    height: 2rem;
}
